{% extends "block.html.twig" %}
{#
/**
 * @file
 * Default theme implementation for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 *
 * @ingroup themeable
 */
 #}
 
{% block content %}
	<wrapper class="logoWrapper">
		<wrapper class="logoCenterWrapper">
			<wrapper class="logoImgWrapper">
				<div id="logo"></div>
			</wrapper>

			{% if site_name %}
				<wrapper class="logoTxtWrapper">
					<div class="site-title"><a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home">{{ site_name }}</a></div>
				</wrapper>
			{% endif %}

		</wrapper>

		{% if site_slogan %}
			<wrapper>
				<div class="site-slogan">{{ site_slogan }}</div>
			</wrapper>
		{% endif %}

	</wrapper>
{% endblock %}